<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gossip Geek - Accueil</title>
</head>

<body>

    <header>
        <h1>Gossip Geek</h1>
        <nav>
            <ul>
                <li><a href="#jeux-video">Jeux Vidéo</a></li>
                <li><a href="#bd-geek">BD Geek</a></li>
                <li><a href="#voitures-geek">Voitures Préférées des Geeks</a></li>
                <li><a href="#geek-celebres">Top 10 des Geeks Célèbres</a></li>
                <li><a href="#geek-games">Top 10 Geek Games</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="jeux-video">
            <h2>Les Derniers Potins sur les Jeux Vidéo</h2>
            <p>Ici, découvrez les dernières rumeurs et potins sur vos jeux vidéo préférés. De nouveaux jeux, des mises à jour excitantes et bien plus encore !</p>
        </section>

        <section id="bd-geek">
            <h2>Les BD Geek les Plus En Vogue</h2>
            <p>Plongez dans l univers des bandes dessinées geek. Découvrez les dernières sorties, les créateurs talentueux et les histoires captivantes qui vous attendent !</p>
        </section>

        <section id="voitures-geek">
            <h2>Les Voitures Préférées des Geeks</h2>
            <p>Quelles sont les voitures que les geeks adorent ? Découvrez les modèles high-tech, les innovations technologiques et les designs futuristes qui font battre le cœur des geeks passionnés d automobiles.</p>
        </section>

        <section id="geek-celebres">
            <h2>Top 10 des Geeks Célèbres</h2>
            <p>Découvrez les geeks qui ont marqué l histoire. Des inventeurs aux entrepreneurs en passant par les stars de cinéma, explorez le monde fascinant des personnalités geek les plus influentes.</p>
        </section>

        <section id="geek-games">
            <h2>Top 10 Geek Games</h2>
            <p>Plongez dans lunivers des jeux vidéo geek. Explorez les mondes fantastiques, défiez des ennemis redoutables et découvrez les jeux qui captivent l imagination des geeks du monde entier.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Gossip Geek. Tous droits réservés.</p>
    </footer>

</body>

</html>
